html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	min-width: 300px;

}
.body{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	}

/*			style for header			*/

header{
	background-color:#e5d4be ;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-menu,.social-nav,h1{
	display: none;
}

.header-menu{
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: #e5d4be;
	top: 0px;
	height: 100%;
	animation-name:slide;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
}
/*animation for header menu when page size is small*/
@keyframes slide{
	from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.menu-list{
	display:flex;
	flex-direction: column;
	list-style: none;
	position: fixed;
	z-index: 1;
	background-color: #e5d4be;
	width: 100%;
	padding: 0;
	height: 100vh;
	overflow: scroll;
}

.item-list{
	text-align: center;
	border:2px solid white;
	padding: 30px;
}

.item-list > a{
	text-decoration: none;
	font-size: 2em;
	color: white;
	font-weight: bold;
}

.cross{
	height: 50px;
	border: white solid 3px;
}

.btn-cross,.cross-list,.btn-toggle{
	border: none;
}

.btn-cross,.btn-toggle{
	background-color:#e5d4be;
}

.social-nav{
	width: 60%;
	margin-right:20px;
}

.social-list{
	display: grid;
	grid-template-columns: repeat(3,60px);
	column-gap: 0px;
	list-style: none;
	padding: 0px;
}
.social-element{
	width: 40px;
}

.logo{
	height: 130px;
	width: 130px;
	margin-right: 0;
	padding: 0;
}

.picture-menu{
	height: 80px;
	width: 80px;
	color: white;
	}

.picture-snap{
	height: 50px;
	width: 40px;
	padding: 10px;
}

.picture-fb{
	height: 40px;
	margin-top: 3px;
	margin-left: 10px;
	padding: 10px;
}

.picture-twiter{
	height: 50px;
	width: 50px;
	padding: 10px;
}

/*			s}tyle for main			*/

main{
	display: grid;
	grid-template-rows:800px repeat(3,1fr);
	font-size: 1.5em;
}

.choise-div{
	display: grid;
	grid-template-rows: 1fr  repeat(3,20%);
	gap: 10px;
}

.refuge > h2{
	color: black;
}

.clinic > h2 {
	color: #ff8847;
}

.farm > h2 {
	color: white;
}

.btn1{
	background-color: white;
	color: black;
}

.btn2{
	background-color: #ff8847;
	color: white;
}

.btn3{
	background-color: white;
	color: #ff8847;
}

.cat-background img{
	display: none;
	width: 100%;
	height: 200px;
}

.refuge-choise,.clinic-choise,.farm-choise{
	display: flex;
	justify-content: center;
	margin: 10px;
}

.img-choise{
	width: 74px;
	height: 74px;
}

.farm,.clinic,.refuge{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.clinic{
	background-color:white;
 }	

.refuge{
	background-color:#ff8847;
}

.farm{
	background-color: #ff8847;
}

.img-div{
	display: none;
	height: auto;
}

.font-style,.img-div,.button-choise{
	width: 60vw;
	max-width: 700px;
}

.font-style{
	text-align:left;
}

.first-letter{
	font-size: 2em;
	padding-top: 5px;
}

.button-choise,.img-div{
	border-radius: 3px;
}

.button-choise{
	margin: 10px;
	border: none;
	height: 50px;
	font-size: 0.8em;
}

/*			style for footer			*/

footer{
	background-color: #e5d4be;
	text-align: center;
	border-top: 2px solid white;
}

h3{
	margin-top: 0px;
	padding: 5px;
}

.copyright {
	border-top: 1px solid white;
	text-align: center;
}

/*responsive disign whith medias queries*/
@media only screen and (min-width: 360px) {

 .social-nav{
	display: initial;
	border-left: 1px solid #5e4934;
	
 }
 
	.picture-menu{
		width: 40px;
		height: 60px;
	}
	.btn-cross{
		width: 60px;
		height: 60px;
	}

}



@media only screen and (min-width: 450px) {

 .logo{
	margin-right: 80px;
 }
 .img-div{
	display: initial;
	
}
  
}


@media only screen and (min-width: 590px) {

	.cat-background img{
		display: initial;
		height: 400px;
	}

	.btn-toggle{
		display: none;
	}
	
	.social-nav{
		display: none;
	}
	
	.logo{
	 margin-right: 10px;
	 }
	
	.header-menu {
    display: flex;
		justify-content: center;
    position: static;
    width: 100%;
    height: auto;
    background-color: transparent;
    animation: none;
		overflow: hidden;
		margin: 20px;
  }
	
	.menu-list{
		display:flex;
		flex-direction: row;
		list-style: none;
		position: static;
		z-index: none;
		background-color: transparent;
		width: 460px;
		padding: 10px;
		height: auto;
		overflow: hidden;
	}
	
	.item-list{
		text-align: center;
		border:none;
		padding: 10px;
	}
	
	.item-list > a{
		text-decoration: none;
		font-size: 1.2em;
		color: #5e4934;
		font-weight: bold;
	}
	
	.btn-cross{
		display: none;
	}
	
	.refuge{
		margin-top: 80px;
	}
}
/* responsive for big screen*/
@media only screen and (min-width: 901px) {
	
	.logo{
		width: 200px;
		height: auto;
	}

	h1{
		display: block;
		text-align: center;
		font-size: 50px;
		height: 50px;
		padding: 0px;
		background-color:#e5d4be ;
		color: #5e4934;
	}
  
	.item-list > a{
		font-size: 1.8em;
	}
	
	.item-list{
		text-align: center;
		border:none;
		padding: 10px;
	}
	
	.menu-list{
		display:flex;
		flex-direction: row;
		list-style: none;
		position: static;
		z-index: 0;
		background-color: transparent;
		width: 800px;
		
		padding: 0px;
		height: auto;
		overflow: hidden;
	}
}

